body {
    margin: 0;
    font-family: "Lato", sans-serif;
    padding-top: 100px; /* Adjusted padding to avoid overlap with fixed upperimg */
}

.upperimg {
    max-width: 100%;
    height: auto;
    display: block;
    z-index: 1000;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    margin-left: 8px;
    top: 117px; /* Adjusted top position to start after the fixed image */
    z-index: 1030; /* Ensure sidebar is above the fixed upperimg */
}

    .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
    }

        .sidebar a.active {
            background-color: green;
            color: white;
            padding: 8px;
        }

        .sidebar a:hover:not(.active) {
            background-color: #FF8635;
            color: white;
        }

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    padding-top: 17px; /*Adjusted padding-top to avoid overlap*/
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

        .sidebar a {
            float: none;
            display: block;
            text-align: left;
        }

    .content {
        margin-left: 0;
    }
}
